<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Face registered</title>
  <link rel="shortcut icon" type="image/png" href="images/icon.png" />
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #ECD8E0;
    }

    h1 {
      font-size: 35px;
      font-weight: 500;
      color: black;
    }

    .button {
      top: 0;
      left: 0;
      margin: 5px;
      padding: 5px;
      background-color: #8CE0EB;
      display: inline;
    }

    .button:hover {
      background-color: #FFD5B6;
    }

    a {
      text-decoration: none;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
    }
  </style>
</head>

<body>
  <h1>Image upload success !</h1>
  <button class="button"><a href="/register">Register more faces !</a></button>
  <button class="button"><a href="/">Recognize faces !</a></button>
</body>


</html>